@font-face {
    font-family: GothamBlack;
    src: url("/fonts/Gotham-Black.ttf");
}
@font-face {
    font-family: GothamBlackItalic;
    src: url("/fonts/Gotham-BlackItalic.ttf");
}
@font-face {
    font-family: Heritage;
    src: url("/fonts/Heritage Font.otf");
}

body {
    /*background: url("/stylesheets/splash_screen.jpg") no-repeat fixed center center / cover;*/
    background-color: #90d3ca;
    margin: 0px;
    color: white;
}

.navbar-right {
    margin-right: 10px;
}

.navbar-left {
    margin-left: 10px;
}

#new-post-container {
    display: none;
}

#show-new-post-button {
    cursor: pointer;
}

.navbar {
    background-color: aliceblue;
    padding: 5px 10px 1px 10px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-family: Heritage, sans-serif;
    font-size: 2em;
}

.navbar-button {
    text-decoration: none;
    color: black;
}

.blog-header {
    text-align: center;
}
#blog-title-grandma {
    font-size: 4em;
    font-family: Heritage, sans-serif;
    margin-top: 3vh;
}

#blog-title-developer {
    font-family: GothamBlackItalic, sans-serif;
    font-size: 2em;
    margin-top: -10px;
}

.blog-content {
    max-width: 875px;
    text-align: center;
    margin: 10px 3em 50px;
    z-index: 20;
    font-family: GothamBlack, sans-serif;
}

.custom-input {
    padding-left: 5px;
    margin-top: 10px;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
}

.custom-button {
    margin: 5px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    -webkit-appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;
    text-decoration: none;
    font-size: 12;
    margin-top: 10px;
}

.dropbtn {
    color: black;
    border: none;
    cursor: pointer;
    text-align: center;
    min-width: 15px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(0,0,0,0.2);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    padding: 10px;
    right: 0;
    background-color: #FFFFFF;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content form{
    margin-bottom: 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.blog-post {
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
    border: #005f63 solid 1px;
    background-color: #75cac1;
    text-align: left;
}

.title {
    margin-top: 0;
    margin-bottom: 5px;
}

.comment-count {
    margin: 10px 0 10px;
}

.add-comment {
    margin-top: 10px;
    cursor: pointer;
}

.author {

}

.post-header {

}