<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>

  <h1>Postal Rate Calculator</h1>
  <form action="/result" method="get">
    <input type="number" name="weight">
    <select>
      <option name="stamped">Letters (Stamped)</option>
      <option name="metered">Letters (Metered)</option>
      <option name="flats">Large Envelopes (Flats)</option>
      <option name="first-class">First-Class Package Service—Retail</option>
    </select>
  </form>

</body>
</html>
