<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
    <div class="blog-header">
        <h1>developer's blog</h1>
    </div>

    <div class="blog-content">
        <% blogPostJson["rows"].forEach(function(row) { %>
        <div class="blog-post">
        <h1><%= row.title %></h1>
        <p><%= row.content %></p>
        <p>by: <%= row.admin_id %></p>
        </div>
        <% }); %>
    </div>
</body>
</html>