<!DOCTYPE>
<html>
<head>
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script type="text/javascript" src="/scripts/main.js"></script>
    <script src="/plugins/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/scripts/tinymceHelper.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <span onclick="showNewPostForm()" id="show-new-post-button">Submit New Post</span>
        </div>
        <div class="dropdown" id="login"><div onclick="dropdown()" class="dropbtn">Login</div>
            <div class="dropdown-content" id="dropdown-menu">
                <form class="dropdown-form">
                    <input class="custom-input" type="text" name="username" placeholder="username">
                    <input class="custom-input" type="password" name="password" placeholder="password"><br>
                    <a class="custom-button" href="/signin.html">Signup</a>
                    <div class="custom-button" type="submit">Submit</div>
                </form>
            </div>
        </div>

    </div>
    <div class="blog-header">
        <div id="blog-title-grandma">Blind Grandma</div>
        <div id="blog-title-developer">Developer's Blog</div>
    </div>

    <div id="main-content" class="blog-content">
        <div class="blog-post" id="new-post-container">
            <form>
                <label for="title">Title: </label><br>
                <input type="text" id="txtTitle" name="title"><br>
                <label for="content">Content: </label><br>
                <textarea id="tinymce" name="content"></textarea>
                <div class="custom-button" onclick="hideNewPostForm()">Cancel</div>
                <div class="custom-button" onclick="addPost()">Submit</div>
            </form>
        </div>
        <% blogPostJson["rows"].forEach(function(row) { %>
        <div class="blog-post">
            <div class="post-header">
                <h1 class="title"><%= row.title %></h1>
                <div class="author">by: <%- username %></div>
            </div>
            <%- row.content %>
            <div class="post-footer">
                <a href="/post/<%= row.id %>">comments</a><br>

            </div>
        </div>
        <% }); %>
    </div>
</body>
</html>