<!DOCTYPE>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <script type="text/javascript" src="/scripts/main.js"></script>
    <script src="/plugins/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/scripts/tinymceHelper.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <span onclick="showNewPostForm()" id="show-new-post-button">Submit New Post</span>
        </div>
        <a href="/signup" id="login">signup</a>
    </div>
    <div class="blog-header">
        <h1>developer's blog</h1>
    </div>

    <div class="blog-content">
        <div class="blog-post" id="new-post-container">
            <form>
                <label for="title">Title: </label><br>
                <input type="text" name="title"><br>
                <label for="content">Content: </label><br>
                <textarea id="tinymce" name="content"></textarea>
            </form>
        </div>
        <% blogPostJson["rows"].forEach(function(row) { %>
        <div class="blog-post">
        <div class="post-header">
            <h1 class="title"><%= row.title %></h1>
            <div class="author">by: <%- username %></div>
        </div>
        <p><%= row.content %></p>
        <div class="post-footer">
            <a href="/post/<%= row.id %>">comments</a><br>

        </div>
        </div>
        <% }); %>
    </div>
</body>
</html>